<h1>Listing pins</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>User</th>
      <th>Board</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= pin.name rescue "N/A" %></td>
        <td><%= image_tag(pin.image_url, :width => "100%") %></td>
        <!-- showing username associated with pin -->
        <td><%= pin.user.full_name rescue "N/A"  %></td>
        <!-- showing name associated board name  -->
        <td><%= pin.board.name rescue "N/A"  %></td>
        <td><%= link_to 'Show', pin %></td>
        <td><%= link_to 'Edit', edit_pin_path(pin) %></td>
        <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%end%>
  </tbody>
</table>

<br>

<%= link_to 'New Pin', new_pin_path %>
<br>

<!-- method: :delete is method to delete -->
<%= link_to 'Delete All Pins', @pin, method: :delete, data: {confirm: "Are you sure?"} %>
