<h1>Listing boards</h1>

<div class= "board-header">
    <div class = "medium-block-grid-4">
      <h6>Name</h6></div>
    <div class = "medium-block-grid-4">>  
      <h6>About</h6></div>
     <div class = "medium-block-grid-4">>
      <h6>User</h6></div>
      
    </div>
  </div>

  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.name %></td>
        <td><%= board.about %></td>
         <!-- Changes asssociation display to name instead of integer -->
        <td><%= board.user.full_name %></td>
        <td><%= link_to 'Show', board %></td>
        <td><%= link_to 'Edit', edit_board_path(board) %></td>
        <td><%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</div>

<br>

<%= link_to 'New Board', new_board_path %>
