<p id="notice"><%= notice %></p>


<!-- <p>
  <strong>Image:</strong>
  allows us to see the images we upload
  <%= image_tag(@board.image_url, :width => 200) %>

</p> -->

<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @board.about %>
</p>

<p>
  <strong>User:</strong>
   <!-- Changes asssociation display to name instead of integer -->
  <%= @board.user.first_name %>
</p>


  
<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
